.header {
    background-color: darkblue;
    height: 50px;
}

.nav-header {
    padding: 15px;
    margin: 0;
}

.nav-header li{
    color: white;
    display: inline;
    list-style: none;


}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 15px 0;
    margin: 0 15px;
}